.main-page {
    background-color: rgb(243, 232, 159);
    height: 100vh;
}

.picture {
    margin-top: 10vh;
    display: inline-flex;
    justify-content: center;
    width: 80vw;
    height: 40vh;
    border-style: solid;
    border-color: rgb(247, 208, 96);
    border-width: 2vh;
    border-radius: 10vw;
}

.picture img {
    max-width: 100%;
    max-height: 100%;
}

.buttons {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;

}



.like {
    background-color: rgb(152, 216, 170);
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    font-weight: 600;
}

.dislike {
    background-color: rgb(255, 109, 96);
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    font-weight: 600;
}

.info {
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    font-weight: 600;
}


.recipe-name {
    margin-top: 8vh;
}

.dropdown-menu {
    position: absolute;
    top: 2.5rem;
    left: 3rem;
    width: 30vw;
    height: auto;
    padding: 2vh;
    background-color: blanchedalmond;
    border-style: solid;
    border-color: black;
    border-width: 0.5vw;
    border-radius: 1vw;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    left: 5vw;
    width: 2vw;
    height: 4vw;
    background-color: blanchedalmond;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(247, 208, 96);

}

.country-flag {
    width: 1.3rem;
}

.logout-button {
    width: 5rem;
    height: 1.5rem;
    background-color: rgb(255, 70, 70);
    border-style: none;
    border-radius: 1.5em;
}

.dropdown-container {
    display: flex;
    justify-content: space-around
}

.dropdown {
    width: 30vw;
}

.dropdown-heading-value {
    display: none;
}



.rmsc {
    --rmsc-main: #4285f4;
    --rmsc-hover: #ff0000;
    --rmsc-selected: #eefa4c;
    --rmsc-border: rgb(255, 208, 0);
    --rmsc-gray: rgb(0, 0, 0);
    --rmsc-bg: #c5c4c4;
    --rmsc-p: 10px;
    --rmsc-radius: 1rem;
    --rmsc-h: 38px;
}

.rmsc .dropdown-heading {
    justify-content: space-between;
}