.main-page {
  background-image: linear-gradient(
    to bottom left,
    rgb(253, 85, 100),
    rgb(254, 60, 114)
  );
  height: 100vh;
}

.picture {
  margin-top: 5vh;
  display: inline-flex;
  justify-content: center;
  /* align-items: center; */
  width: 80vw;
  height: 40vh;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 1vw;
  border-radius: 15vw;
}

.picture img {
  overflow: hidden;
  max-width: 110%;
  max-height: 110%;
  border-radius: 15vw;
}

.picture span {
  display: flex;
  align-items: center;
}

.buttons {
  margin-top: 8vh;
  display: flex;
  justify-content: space-around;
}

.like {
  background-color: white;
  border-style: solid;
  border-width: 0.5vw;
  border-color: rgb(253, 85, 100);
  width: 22vw;
  height: 22vw;
  border-radius: 50%;
  font-weight: 600;
}

.dislike {
  background-image: linear-gradient(
    to bottom left,
    rgb(253, 85, 100),
    rgb(239, 74, 117)
  );
  border-style: solid;
  border-width: 0.5vw;
  border-color: rgb(255, 255, 255);
  width: 22vw;
  height: 22vw;
  border-radius: 50%;
  font-weight: 600;
}

.info {
  background-color: #c5cacf;
  border-color: #fe3c72;
  border-width: 0.3vw;
  border-style: solid;
  width: 11vw;
  height: 11vw;
  border-radius: 50%;
  font-weight: 600;
  color: black;
}

.recipe-name {
  margin-top: 3vh;
}

.dropdown-menu {
  position: absolute;
  top: 2.8rem;
  left: 2.9rem;
  width: 30vw;
  height: auto;
  padding: 1vh;
  background-color: #d6dde4;
  border-style: solid;
  border-color: #fe3c72;
  border-width: 0.5vw;
  border-radius: 1vw;
}

.dropdown-menu::before {
  content: '';
  position: absolute;
  left: 5vw;
  width: 2vw;
  height: 4vw;
  background-color: #d6dde4;
}

.filter-icon {
  display: flex;
  margin-left: 3vw;
  margin-bottom: 1vh;
}

.no-btn {
  font-weight: 600;
  height: 3vh;
  width: 10vw;
  background-color: rgb(253, 85, 100);
  border-style: solid;
  border-width: 0.5vw;
  color: white;
  border-color: white;
  border-radius: 0.5rem;
}

.yes-btn {
  font-weight: 600;
  height: 3vh;
  width: 10vw;
  background-color: white;
  border-style: solid;
  border-width: 0.5vw;
  color: rgb(253, 85, 100);
  border-color: rgb(253, 85, 100);
  border-radius: 0.5rem;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(253, 253, 253);
  border-bottom-style: solid;
  border-bottom-width: 0.7vw;
  border-bottom-color: rgb(254, 60, 114);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 0px 7px 11px -4px rgba(107, 107, 107, 0.69);
  -webkit-box-shadow: 0px 7px 11px -4px rgba(107, 107, 107, 0.69);
  -moz-box-shadow: 0px 7px 11px -4px rgba(107, 107, 107, 0.69);
  align-items: center;
}

.country-flag {
  width: 1.3rem;
}

.dropdown-container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-around;
}

.dropdown {
  width: 30vw;
}

.dropdown-heading-value {
  display: none;
}

.rmsc {
  --rmsc-main: rgb(239, 74, 117);
  --rmsc-hover: #fe3c72;
  --rmsc-selected: #fe3c72;
  --rmsc-border: rgb(239, 74, 117);
  --rmsc-gray: #fe3c72;
  --rmsc-bg: white;
  --rmsc-p: 2vw;
  --rmsc-radius: 1.5rem;
  --rmsc-h: 10vw;
  --rmsc-border-width: 1.5vw;
}

.rmsc .dropdown-heading {
  justify-content: space-between;
}

.mainpage-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(253, 85, 100);
  font-weight: 500;
}
