.recipe-page {
    /* background-image: linear-gradient(to bottom left, rgb(253, 85, 100), rgb(239, 74, 117)); */
    background-color: white;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
}

.recipe-description {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.image-frame {
    width: 90vw;
    border-style: solid;
    border-color: rgb(239, 74, 117);
    /* border-color: white; */
    margin-bottom: 2vh;
    border-radius: 1rem;
    overflow: hidden;
}

.image-frame img {
    width: 100%;
    height: 100%;
}

.recipe-title {
    width: 90vw;
    padding-bottom: 1vh;

}

.recipe-summary {
    display: flex;
    width: 90vw;
    padding-bottom: 2vh;
    padding-top: 2vh;
    border-top-style: double;
    border-bottom-style: double;
    /* border-top-color: white;
    border-bottom-color: white; */
    border-top-color: rgb(239, 74, 117);
    ;
    border-bottom-color: rgb(239, 74, 117);
    ;

}

.recipe-instructions {
    padding-top: 1vh;
    display: flex;
    width: 90vw;
}