.register-page {
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.register-form {

    padding-right: 4vw;
}

.register-input input {
    display: inline-flex;
    height: 4vh;
    margin-top: 4vh;
    margin-left: 4vw;
    background-color: rgb(243, 232, 159);
    width: 60vw;

}


.register-btn {
    padding-top: 6vh;


}

.register-btn button {
    font-weight: 600;
    height: 5vh;
    width: 25vw;
    background-color: rgb(152, 216, 170);
    border-style: none;
}